[mysqld]
server_id                       =1
skip-name-resolve
basedir                         =/var/lib/mysql
datadir                         =/var/lib/mysql/data
log-bin                         =/var/lib/mysql/mysql-bin
relay-log                       =/var/lib/mysql/mysql-relay-bin
relay-log-index                 =/var/lib/mysql/mysql-relay-bin.index
pid-file                        =/var/run/mysqld/mysqld.pid
socket                          =/var/run/mysqld/mysqld.sock
tmpdir                          =/tmp
lc-messages-dir                 =/usr/share/mysql-8.0

collation-server                 =utf8mb4_unicode_ci
character-set-server             =utf8mb4

# mha 에서 붙을 때 에러남 기본값 'caching_sha2_password'에서 바꿔줌
default_authentication_plugin=mysql_native_password

[client]
#default-character-set            =utf8mb4

[mysql]
default-character-set            =utf8mb4