# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Gradle
.gradletasknamecache
.gradle/
build/
bin/
out/

#Rust
**/*.lock

#nodejs
node_modules
