<form action="/perform_login" method="POST">
    {{#if error}}
			Invalid username and password.
	{{else}}
			You have been logged out.
	{{/if}}
	<p>
		<label for="username">Username</label>
		<input type="text" id="username" name="username"/>
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" id="password" name="password"/>
	</p>
	<button type="submit" class="btn">Log in</button>
</form>
<p>
    {{.}}
</p>